<h3>Edite a sua anotação</h3>
<div class = "card">
    <div class = "card-body">
        <form action="/edit" method = "POST">
        <input type="hidden" name = "id" value = "{{nota._id}}">
        <label for="titulo">Título: </label>
        <input type="text" id ="titulo" name = "titulo" placeholder = "título da nota" class = "form-control" value = "{{nota.titulo}}">
        <br>
        <label for="categoria">Categoria: </label>
        <input type="text" id = "categoria" name = "categoria" placeholder = "categoria da nota" class = "form-control" value = "{{nota.categoria}}">
        <br>
        <label for="conteudo">Conteúdo: </label>
        <textarea name="conteudo" class = "form-control">{{nota.conteudo}}</textarea>
        <br>
        <button type = "submit" class = "btn btn-success">Editar nota</button>
        </form>
    </div>
</div>