<div class = "card">
    <div class = "card-body">
        <a href="/category/add"><button type="button" class="btn btn-info">Criar categoria</button></a>
        <br>
        <a href="/categories"><button type="button" class="btn btn-info mt-3">Ver categorias</button></a>
    </div>
</div>