<h1>{{etiquetas.nome}}</h1>
{{#each notas}}
    <div class = "card mt-3">
        <div class = "card-body">
            <h3>{{titulo}}</h3>
            <p>{{conteudo}}</p>
        </div>
    </div>

{{else}}
    <h4>Não existem notas com essa etiqueta</h4>

{{/each}}