<div class = "card">
    <div class = "card-body">
        <h3>{{nota.titulo}}</h3>
        <small>categoria: {{nota.categoria}}</small>
        <p>{{nota.conteudo}}</p>
        <br>
        <hr>
        <small>Data: {{nota.data}}</small>
    </div>
</div>