<div class = "card">
    <div class = "card-body">
        <a href="/tag/create"><button type="button" class="btn btn-info">Criar etiqueta</button></a>
        <br>
        <a href="/tags"><button type="button" class="btn btn-info mt-3">Ver etiquetas</button></a>
    </div>
</div>
